In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
warnings.filterwarnings('ignore')
%matplotlib inline
sns.set()

In [4]:
os.chdir('..')

## data import

In [5]:
data = pd.read_csv('data/2019_399300.csv')

## data review

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932 entries, 0 to 931
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    932 non-null    object
 1   close   932 non-null    float64
 2   high    932 non-null    float64
 3   low     932 non-null    float64
 4   open    932 non-null    float64
 5   pre     932 non-null    float64
 6   change  932 non-null    float64
 7   rate    932 non-null    float64
 8   volume  932 non-null    int64
 9   amount  932 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 72.9+ KB

In [7]:
data.describe()

,close,high,low,open,pre,change,rate,volume,amount
count,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,932.000000,9.320000e+02,9.320000e+02
mean,4362.816636,4393.315334,4327.126953,4360.205499,4362.004918,0.811718,0.032530,1.430807e+10,2.523003e+11
std,585.348831,589.472182,579.752736,586.723399,586.698696,56.340817,1.300582,5.085356e+09,9.940268e+10
min,2964.842100,3000.441300,2935.829500,2940.191600,2964.842100,-315.543500,-7.880900,5.987048e+09,6.266965e+10
25%,3888.644075,3901.725725,3860.128675,3883.426650,3888.644075,-28.219350,-0.665575,1.074900e+10,1.801493e+11
50%,4190.519100,4221.352450,4157.373750,4186.150650,4190.519100,1.332000,0.030950,1.353367e+10,2.467737e+11
75%,4889.736275,4912.262875,4852.487400,4886.958150,4889.736275,32.985900,0.780150,1.680022e+10,3.119825e+11
max,5807.719100,5930.912200,5747.663100,5922.071400,5807.719100,250.499400,5.947700,4.060086e+10,6.352547e+11

In [9]:
data.tail()

,date,close,high,low,open,pre,change,rate,volume,amount
927,2022/10/31,3508.7034,3553.3871,3495.9509,3504.5070,3541.3295,-32.6261,-0.9213,13846565500,2.565748e+11
928,2022/11/1,3634.1732,3634.1732,3517.6209,3519.8174,3508.7034,125.4698,3.5760,14928669800,2.950899e+11
929,2022/11/2,3677.8051,3703.4650,3610.8029,3620.3693,3634.1732,43.6319,1.2006,14159291900,2.916482e+11
930,2022/11/3,3647.8966,3670.1574,3628.4987,3645.0604,3677.8051,-29.9085,-0.8132,11056603500,2.153793e+11
931,2022/11/4,3767.1746,3782.8823,3646.7709,3646.7709,3647.8966,119.2780,3.2698,14973494900,3.111455e+11

## feature construct

In [11]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(data.drop('price', axis=1), data['price'], test_size=0.2, random_state=42)